/* You can add global styles to this file, and also import other style files */
@import './src/sass/variables';
@import './src/sass/mixins';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');    
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';   

body, html
    height: 100%;
    margin: 0 auto;
    color: white;


body 
    font-family: 'Montserrat';
    font-size: 18px;


a 
    text-decoration: none;


.container 
    width: 100%;
    margin: 0 auto;
    padding: 1.0em;
    display: grid;
    grid-template-columns: 30% auto;
    a 
        color: #5c1414;
    


section 
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 2em;


.purple 
    @include btn-theme($purple);
 
.blue 
    @include btn-theme($blue);

.green
    @include btn-theme($green);

.orange 
    @include btn-theme($orange);

.forminput 
    padding: 10px;
    background: #e8f3f7;
    border: solid 2px #aabcc6;
    border-radius: 5px;
    display: inline-block;

.btn 
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    text: 
        transform: uppercase;
        decoration: none;
        shadow: 0 .063em rgba(0,0,0,.3);
     
    @include trans(0.2s ease-in-out);
