@media (min-width: 768px)
    .map
        width: 80%
        margin-left: 10%
        border: solid thin rgba(black, .4)

@media (max-width: 768px)
    .map
        width: 100%
        margin-left: 0%
        border: solid thin rgba(black, .4)
