$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px )


$link-hover-decoration: none;    

$link-color: #3f51b5;           
$link-hover-color: currentColor;

$purple: #9A68C7;
$blue: #3BA9E4;
$green: #7bcc65;
$orange: #FF6A42;
$off-wht: rgba(white,.4);