@import './variables';
@import './mixins';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');    
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';   

body, html {
    height: 100%;
    margin: 0 auto;
    color: white;
}

body {
    font-family: 'Montserrat';
    font-size: 18px;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 1.0em;
    display: grid;
    grid-template-columns: 30% auto;

    a {
        color: #5c1414;
    }
}

section {
    width: 100%;
    text-align:center;
    margin: 0 auto;
    padding: 2em;
}
