<div class='home'>

    

    <mat-radio-group [(ngModel)]="defaults.display">
        <mat-radio-button value="c">C</mat-radio-button> 
        <span style="width:10px;display:inline-block">  </span>
         <mat-radio-button value="f">F</mat-radio-button>
      </mat-radio-group>

    <form [formGroup]="tempForm">  
        <label>
          <b>Add a temperature:</b> <br>
          <div style='position:relative; display:inline-block;'><input type="text" class='forminput' matInput  formControlName="temp"  #newtemp>
            <div class='inputoverlay' [hidden]="defaults.display=='f'"> &#176;C</div>
            <div class='inputoverlay' [hidden]="defaults.display=='c'"> &#176;F</div>
        
        </div>
          <input type="button" matButton value='Add' (click)="addTemp(newtemp)" class='green btn' [disabled]="!tempForm.valid" [hidden]="!tempForm.get('temp').valid && tempForm.get('temp').touched">
        </label><br>
       <div style='font-size:0.8em;'>
          <mat-hint>use like : {{ defaults.display =='c' ? ' -60 ... 60' : '-76 ... 140' }}</mat-hint>  <br>
          <mat-error>  
              <span *ngIf="!tempForm.get('temp').valid && tempForm.get('temp').touched">Please enter a valid temperature in deg {{ defaults.display =='c' ? 'C (-60 ... 60)' : 'F (-76 ... 140)' }}</span>  
          </mat-error> 
      </div> 
        </form>

        
    <form [formGroup]="cityForm">  
        <label>
          <b>Add temperatures from a city:</b> <br>
          <input type="text" class='forminput' matInput  formControlName="city"  #newcity>
          <input type="button" matButton value='Add' (click)="addCity(newcity)" class='green btn' [disabled]="!cityForm.valid" [hidden]="!cityForm.get('city').valid && cityForm.get('city').touched">
        </label><br>
       <div style='font-size:0.8em;'>
          <mat-hint>use like : Montreal, QC</mat-hint>  <br>
          <mat-error>  
              <span *ngIf="!cityForm.get('city').valid && cityForm.get('city').touched">Please enter a valid city name</span>  
          </mat-error> 
      </div> 
      
      
      
       


        </form>
<div>
        <input matInput disabled [ngModel]="someDate | date:'yyyy-MM-dd'" >
  <input matInput [hidden]='true' [(ngModel)]="someDate"  
[matDatepicker]="picker">
          <!--<input matInput [matDatepicker]="picker" placeholder="Choose a date"> -->
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
</div>
  <mat-card class='container'> 
  
    <mat-card-header>
      
      <mat-card-title><h2></h2></mat-card-title>
    </mat-card-header>
    
    <mat-card-content>

        <div class='tablecontents'>
            <mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="temperature">
                <mat-header-cell *matHeaderCellDef> Temperature </mat-header-cell>
                <mat-cell *matCellDef="let client"> {{client.forecast.forecastday.day.avgtemp_c | tempConvert : this.defaults.display  }} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="date">
                  <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                  <mat-cell *matCellDef="let client"> {{client.forecast.forecastday.date | date : "longDate" }}  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="location">
                    <mat-header-cell *matHeaderCellDef> Location  </mat-header-cell>
                    <mat-cell *matCellDef="let client"> <a href="#mapv" (click)="setLoc(client.location.lon, client.location.lat)"> {{client.location.name  }}, {{ client.location.region }}, {{ client.location.country }}</a> </mat-cell>
                  </ng-container>
              
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>

          <div style='' class='impvals '>


            Important values <br>

            <div class='vbox'> <span class='vkey'>Average</span> <span class='vval'>{{ temps.average | number : '1.2-2' | tempConvert : this.defaults.display  }}</span> 
            </div>
           
            <div class='vbox'><span class='vkey'>Median</span> <span class='vval'>{{ temps.median | number : '1.2-2' | tempConvert : this.defaults.display  }}</span> 
          </div>

            <div class='vbox'> <span class='vkey'>Max</span> <span class='vval'>{{ temps.max | number : '1.2-2' | tempConvert : this.defaults.display  }}</span> 
            </div>

              <div class='vbox'> <span class='vkey'>Min</span> <span class='vval'>{{ temps.min | number : '1.2-2' | tempConvert : this.defaults.display  }}</span> 
              </div>
            
              <google-chart
              [title]="chart.title"
              [type]="chart.type"
              [(data)]="chart.data"
              [columnNames]="chart.columnNames"
              [options]="chart.options">
            </google-chart>


          </div>



      </mat-card-content>

      </mat-card>

      <app-mapview [lat]="position.latitude" [lng]="position.longitude" id="mapv"></app-mapview>


</div>
  
