
.home
    position: relative;
    width: 100%;
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    color: black;

.inputoverlay
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5rem;
    background: #7db4ec;
    color: white;
    font-weight: 300;
    height: 100%;
    border-radius: 0px 5px 5px 0px;

.container
    width: 100%;

@media (min-width: 768px)
    .impvals
        text-align: left;
        font-size: 1.4em;
        padding: 10px;
        position: relative;
        display: inline-block;
        width: 30%;
    .tablecontents
        position: relative;
        display: inline-block;
        width: 70%;
        vertical-align: top;
        padding: 6px;
    .map
        width: 80%
        margin-left: 10%
        border: solid thin rgba(black, .4)

@media (max-width: 768px)
    .impvals 
        text-align: left;
        font-size: 1.4em;
        padding: 10px;
        position: relative;
        display: block;
        width: 100%;
    .tablecontents
        position: relative;
        display: inline-block;
        width: 100%;
        vertical-align: top;
        padding: 6px;
    .map
        width: 100%
        margin-left: 0%
        border: solid thin rgba(black, .4)

a
    text-decoration: underline
    cursor: pointer
.vbox
    margin: 10px;
    width: 100%;
    position: relative;

.vkey
    border-radius: 5px 0px 0px 5px;
    margin-right: 0px;
    padding: 5px;
    background: #7bcc65;
    color: white;
    width: 50%;
    display: inline-block;

.vval 
    border-radius: 0px 5px 5px 0px;
    text-align: right;
    padding: 5px;
    color: black;
    background: #dbf2c8;
    width: 50%;
    display: inline-block;

.mat-cell
    font-size: 1.2rem;

.mat-header-cell
    font-size: 1.0rem;

.mat-row:nth-child(odd)
  background-color: #f5f9fc;
  color: black;


